
/* fonts */
h2,h3,h4,h5,h6,.navbar{font-family:inherit;}
/* source serif pro: all the copy text */
body {font-size:16px;font-family: 'Lora', serif;}
/* main headers */
h1, #index_page .section{font-family:'Exo',sans-serif;}
/* orbitron: brand name */
.navbar-brand  {font-family:Orbitron}
/* exo: decklist names and user names */
.decklist-name{font-family:'Exo',sans-serif}
.reputation{font-family:'Exo',sans-serif}
.username{font-family:'Exo',sans-serif}
.social{color:darkgray;font-family: 'Exo';}
.social>div>a, .social>div>span{margin:0 10px;font-family:'Exo'}

/* classes .card-* used in card pages, card modal, card tip */
.card-title{font-size:125%;position:relative;z-index: 10;margin-right: 15px}
.card-text{border-left:1px solid #888}
.card-text sup{line-height:0;font-size:x-small}
.card-text p{margin:6px}
.card-flavor{font-style:italic}
.pack-future, .card-preview{color:red}
/* */


#push{clear:both}
.type-icon,.faction-icon{vertical-align:text-bottom}

.influence-anarch{color:orangered;border-color:orangered}
.influence-criminal{color:royalblue;border-color:royalblue}
.influence-shaper{color:limegreen;border-color:limegreen}
.influence-neutral{color:gray;border-color:gray}
.influence-haas-bioroid{color:blueviolet;border-color:blueviolet}
.influence-jinteki{color:crimson;border-color:crimson}
.influence-nbn{color:darkorange;border-color:darkorange}
.influence-weyland-consortium{color:darkgreen;border-color:darkgreen}

.background-anarch-10{background-color:#ffece6}
.background-criminal-10{background-color:#ecf0fc}
.background-shaper-10{background-color:#eafaea}
.background-neutral-10{background-color:#f0f2f4}
.background-haas-bioroid-10{background-color:#f3eafc}
.background-jinteki-10{background-color:#fbe7eb}
.background-nbn-10{background-color:#fff3e6}
.background-weyland-consortium-10{background-color:#e6efe6}

.nav>li>a.background-anarch-hover:hover{background-color:#ffece6}
.nav>li>a.background-criminal-hover:hover{background-color:#ecf0fc}
.nav>li>a.background-shaper-hover:hover{background-color:#eafaea}
.nav>li>a.background-neutral-hover:hover{background-color:#f0f2f4}
.nav>li>a.background-haas-bioroid-hover:hover{background-color:#f3eafc}
.nav>li>a.background-jinteki-hover:hover{background-color:#fbe7eb}
.nav>li>a.background-nbn-hover:hover{background-color:#fff3e6}
.nav>li>a.background-weyland-consortium-hover:hover{background-color:#e6efe6}

.background-anarch-20{background-color:#ffd9cc}
.background-criminal-20{background-color:#d9e1f9}
.background-shaper-20{background-color:#d6f5d6}
.background-neutral-20{background-color:#e2e5e8}
.background-haas-bioroid-20{background-color:#e7d4f9}
.background-jinteki-20{background-color:#f8d0d8}
.background-nbn-20{background-color:#ffe8cc}
.background-weyland-consortium-20{background-color:#cce0cc}

#tag_toggles button {margin:0 1px 1px 0}
.label {margin:0 1px 1px 0}
/*
.tag-anarch{background-color:orangered}
.tag-criminal{background-color:royalblue}
.tag-shaper{background-color:limegreen}
.tag-neutral{background-color:gray}
.tag-haas-bioroid{background-color:blueviolet}
.tag-jinteki{background-color:crimson}
.tag-nbn{background-color:darkorange}
.tag-weyland-consortium{background-color:darkgreen}

.tag-corp{color:blue;background-color:#ddd}
.tag-runner{color:red;background-color:#ddd}
*/
.anarch, .icon-bg.icon-anarch:before{stroke:orangered;color:orangered !important;border-color:orangered}
.criminal, .icon-bg.icon-criminal:before{stroke:royalblue;color:royalblue !important;border-color:royalblue}
.shaper, .icon-bg.icon-shaper:before{stroke:limegreen;color:limegreen !important;border-color:limegreen}
.neutral{stroke:gray;color:gray !important;border-color:gray}
.haas-bioroid, .icon-bg.icon-haas-bioroid:before{stroke:blueviolet;color:blueviolet !important;border-color:blueviolet}
.jinteki, .icon-bg.icon-jinteki:before{stroke:crimson;color:crimson !important;border-color:crimson}
.nbn, .icon-bg.icon-nbn:before{stroke:darkorange;color:darkorange !important;border-color:darkorange}
.weyland-consortium, .icon-bg.icon-weyland-consortium:before{stroke:darkgreen;color:darkgreen !important;border-color:darkgreen}
.admin{stroke:deeppink;color:deeppink !important;border-color:deeppink}

.qtip-nrdb{min-width: 310px;max-width:350px;font-size:85.7%}
	.qtip-nrdb .card-image { float: right;height:90px;width: 101px; background-size:120px;background-repeat: no-repeat; margin: 5px 0px;position: relative}
	.qtip-nrdb .card-image svg { position: relative; top: -1px; left: -1px; height:92px;width: 103px }
	.qtip-nrdb .card-image-runner-identity {  background-size:95px; background-position: 3px -8px }
	.qtip-nrdb .card-image-runner-event { background-size:100px; background-position: 3px -1px }
	.qtip-nrdb .card-image-runner-hardware {  background-size:110px; background-position: -5px 3px }
	.qtip-nrdb .card-image-runner-program { background-position: -10px 7px }
	.qtip-nrdb .card-image-runner-resource { background-size:140px; background-position: -14px -5px }
	.qtip-nrdb .card-image-corp-identity {  background-size:105px; background-position: -4px -18px }
	.qtip-nrdb .card-image-corp-agenda { background-size:110px; background-position: -10px -4px }
	.qtip-nrdb .card-image-corp-asset { background-size:110px; background-position: -6px 8px }
	.qtip-nrdb .card-image-corp-operation { background-size:105px; background-position: -1px -2px }
	.qtip-nrdb .card-image-corp-upgrade { background-size:105px; background-position: -4px 8px }
	.qtip-nrdb .card-image-corp-ice { background-size:115px; background-position: -9px -77px;transform: rotate(90deg) ;-webkit-transform: rotate(90deg) ;-moz-transform: rotate(90deg) ;-o-transform: rotate(90deg) ;-ms-transform: rotate(90deg)}


article.rules aside{border-left:1px solid blue;padding-left:20px}
article.rules span.anr{font-style:italic;white-space:nowrap}
article.rules{border-top:1px dashed black;clear:both}
article.tsr ol{list-style:none}
article.tsr em{text-transform:uppercase;font-weight:bold;font-style:normal}
article.rules nav.inner{float:right;border-left:1px solid red;border-bottom:1px solid red;margin-left:20px}

html,body{height:100%;background:lightgray}
#wrapper{background:white;padding-bottom:50px;border-bottom:1px solid silver;}
footer{padding:50px 0;color:darkgray}
.color-corp{color:blue}
.color-runner{color:red}
.fake-inline-button{white-space:nowrap}
.jumbotron{/*box-shadow:-1px 1px 4px*/border:1px solid silver;border-width:1px 0px}
textarea{resize:vertical}
tbody#decks{cursor:pointer}
#deck-content img{height:15px;vertical-align:text-bottom}
.type,.faction{text-align:center}
.nav-tabs{margin-bottom:15px}
tbody .btn-group{white-space:nowrap}
/* .btn-group>.btn,.btn-group-vertical>.btn{float:none;display:inline-block} */
.dropdown-menu input[type=checkbox]{margin:-4px 8px 0 -6px}
.dropdown-menu label{margin:0}
#collection td{vertical-align:middle}

.decklist .comment-date{color:lightgray;float:right}
.decklist .comment-text{clear:right;font-size:93%;}
.decklist blockquote {margin-bottom:1em;}
.decklist blockquote p {font-size:100%;}
.decklist h1{border-bottom:1px solid lightgray}
.decklist h1 img{vertical-align:text-top;margin-right:10px}
.social-icon-like{color:red}
.social-icon-favorite{color:orange}
.social-icon-comment{color:green}
#table-similar td{color:darkgray}
#table-similar td:hover{color:black}
/*.decklists .social span{color:darkgray}*/
.social-icon-like:hover{color:red}
.social-icon-favorite:hover{color:orange}
.social-icon-comment:hover{color:green}
.decklist-identity-image img{height:64px}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:rgba(0,0,0,0.05)}
#collection-grid .col-sm-6 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dashed lightgray;overflow:hidden;}
#collection-grid .col-sm-6 .media-object {height:100px}
#collection-grid .col-sm-6 .media-heading {line-height:50px;white-space:nowrap}
#collection-grid .col-sm-4 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted lightgray;overflow:hidden;}
#collection-grid .col-sm-4 .media-object {height:70px}
#collection-grid .col-sm-4 .media-heading {line-height:30px;white-space:nowrap}
#table-draw-simulator-content img.card-image {width:99px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.card-image.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.card-image.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy {background:#888;color:white;width:99px;height:138px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.card-proxy.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.card-proxy.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy div{position: relative;top: 50%; transform: translateY(-50%);text-align:center}
#draw-simulator-special {display: none;}

.twitter-typeahead{width:100%}
.twitter-typeahead .tt-hint{color:#aaa;margin-left:11px;margin-top:4px}

.twitter-typeahead .tt-hint {
	display: none;
}
.twitter-typeahead .tt-query {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}


.flag {
	width: 16px;
	height: 11px;
	background:url('../images/flags.png') no-repeat;
	display: inline-block;
	margin: 5px;
}

.flag.flag-br {background-position: -16px 0}
.flag.flag-cn {background-position: -32px 0}
.flag.flag-de {background-position: -48px 0}
.flag.flag-es {background-position: 0 -11px}
.flag.flag-fr {background-position: -16px -11px}
.flag.flag-it {background-position: -32px -11px}
.flag.flag-jp {background-position: -48px -11px}
.flag.flag-kr {background-position: 0 -22px}
.flag.flag-pl {background-position: -16px -22px}
.flag.flag-pt {background-position: -32px -22px}
.flag.flag-tw {background-position: -48px -22px}
.flag.flag-us {background-position: 0 -33px}

#deck-description > h1 {
font-size: 24px;
font-family: inherit;
border: none;
}
#deck-description > h2 {
font-size: 20px;
}
#deck-description > h3 {
font-size: 18px;
}

#index_page .section {
	color: crimson;
}
.deck-list-group-item {
	box-sizing: content-box;
	min-height: 80px;
}
.deck-list-group-item.selected {
	background: #eee !important;
}
.deck-list-group-item div.deck-list-identity-image {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 50% 25%;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
}
#deck_browser {
	margin: 10px 0;
	width: 100%;
}
#deck_browser_left {
	direction: ltr;
	width: 1%;
	white-space: nowrap;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
#deck_browser_center {
	text-align: center;
	background: white;
}
#deck_browser_right {
	direction: rtl;
	width: 1%;
	white-space: nowrap;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
#deck_browser div {
	width: 10px;
overflow: show;
display: inline-block;
position: relative;
}
.deck_browser_150 div {
	height: 150px;
}
.deck_browser_300 div {
	height: 300px;
}
#deck_browser_left div {
	-webkit-transform: translateZ(1px) translateX(1px) rotateY(40deg);
-ms-transform: translateZ(1px) translateX(1px) rotateY(40deg);
transform: translateZ(1px) translateX(1px) rotateY(40deg);
-webkit-transform-origin: 0 75px;
-ms-transform-origin: 0 75px;
transform-origin: 0 75px;
}
#deck_browser_center div {
	width: auto;
	z-index: 1;
}
#deck_browser_center div img {
		box-shadow: 0 0 20px 10px white;
	
}
#deck_browser_right div {
	-webkit-transform-origin: 100% 0;
-ms-transform-origin: 100% 0;
transform-origin: 100% 0;
-webkit-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
-ms-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
}
#deck_browser div img {
height: 100%;
border: 1px solid white;
border-radius: 10px;
}
#deck_gallery { width: 100%; table-layout: fixed; border-collapse: collapse; overflow: hidden }
#deck_gallery td { padding: 0 }
#deck_gallery td > div { height: 100px; overflow: visible; position: relative }
#deck_gallery td > div > img { height: 100% ; border: 1px solid white; border-radius: 10px;}
#deck_gallery td > div > div { background: rgba(0, 0, 0, 0.5); position: absolute; left: 1px; bottom: 1px; color: white; width: 24px; height: 24px; line-height: 24px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 15px; font-family: monospace }

@-webkit-keyframes animDonator { 
    0% { color: rgba(255,223,48, 1); }
    100% { color: rgba(255,223,48, 0.2); }
}
.donator {
    animation: animDonator 2s ease-in 0s infinite alternate;
    -webkit-animation: animDonator 2s ease-in 0s infinite alternate;
    color: rgba(255,223,48, 1);
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}
div.no-image {
	border:1px solid silver;
	border-radius:20px;
	max-width:300px;
	position:relative;
}
div.no-image:before {
	content: "";
	display: block;
	padding-top: 140%;
}
div.no-image-text {
	line-height:20px;
	height:20px;
	overflow:auto;
	margin:auto;
	top:0;
	bottom:0;
	width:100%;
	position:absolute;
	text-align:center;
}

#list article.review {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #ddd;
}
#index_page article.review {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ddd;
}
article.review:first-child {
	margin-top: 0 !important;
}
article.review .review-like { float:left; font-size: 120%; width:50px }
article.review .review-content { margin-left: 50px }
article.review .review-text :first-child { margin-top: 0px }
article.review .review-date { clear: both; text-align: right }
article.review .review-author { text-align: right }
article.review .review-comment { border-top: 1px solid #ddd; padding: 0.5em; }
@media (min-width: 992px) {
	#recent_decklists, #recent_reviews {
		 border-left:1px solid #ddd;
	}
}
div.ad {
	display: none;
	text-align: center;
}
div.ad-blocked {
	background: #eee;
	background: -moz-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5e5), color-stop(100%,#e5e5ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffe5e5 0%,#e5e5ff 100%); /* W3C */	
	border-style: solid;
	border-width: 1px 0px;
	border-color: red blue blue red;
	padding: 10%;
	font: 30px/40px sans-serif;
	text-align: center;
	margin: auto;
}
.navbar-brand {
	position: relative;
}
.navbar-brand span.icon:nth-child(2) {
	position: absolute;
	left: 15px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
	background: grey;
	color: black;
	text-shadow: 0px 0px 5px #ccc;
}
.navbar-brand .icon {
	font-size: 120%;
	line-height: 83%;
}
.navbar-brand:hover .icon-link-half-top {
	color: brown;
}
.navbar-brand:hover .icon-link-half-bottom {
	color: mediumblue;
}

#navbar-factions {
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #f8f8f8;
}

.dropdown-menu input[type=text].form-control {
	width: auto;
	margin: 2px 10px;
}
.btn-ghost{
	background: transparent;
	color: inherit;
}
div#deck h3#identity {
	margin-top: 0;
}
span.label-as-badge {
	border-radius: 1em;
}